[data]
personal = {{ promptBoolOnce . "personal" "Personal machine" true }}
email = {{ promptStringOnce . "email" "email" "vova2341591@gmail.com" | quote }}
name = {{ promptStringOnce . "name" "name" "ky3ow" | quote }}
