[user]
	name = {{ if hasKey . "name" }}
				{{- .name | quote }}
		   {{- else }}
				{{- "ky3ow" }}
		   {{- end }}
	email = {{ if hasKey . "email" }}
				{{- .email | quote }}
		   {{- else }}
				{{- "vova2341591@gmail.com" }}
		   {{- end }}
[push]
	default = current
[pull]
	rebase = true
[rerere]
	enabled = false
[fetch]
	writeCommitGraph = true
	prune = true
[core]
	fsmonitor = true
	untrackedcache = true
[format]
	pretty = %C(auto)%h %d %s
[init]
	defaultBranch = main
[alias]
	dshow = -c diff.external=difft show --ext-diff
	ddiff = -c diff.external=difft diff
[credential]
	helper = cache --timeout=3600
